@import "tailwindcss";
/* Hide scrollbar but allow scrolling */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}
