@import "tailwindcss";
/* Hide scrollbar but allow scrolling */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

/* Dashboard Background */
.dashboard-background {
  background-image: url('assets/future-8840101.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.dashboard-background::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.65);
  z-index: 0;
  pointer-events: none;
}
